
[scan]
    class=c.lang.units

    tasks = 1,2

[task "1"]

    scan-dir=platforms/esp32s3/mlgm-esp32-s3/test/cases/
    write-to-h-file=platforms/esp32s3/mlgm-esp32-s3/test/list-test-cases-1.h
    target-header-file-fingerprint = b935063af66b27f37fc2fcc516254d0488a7816a1ca1d888be9dd45e2526a85d
    gen-code-templates-file = scan-c-lang-units-templates.xml
    

[task "2"]

    scan-dir=platforms/esp32s3/mlgm-esp32-s3/main/units
    write-to-h-file=platforms/esp32s3/mlgm-esp32-s3/main/units/list-test-cases-2.h
    target-header-file-fingerprint = 95a2c75e5b08cbac7c016ae55b4b909b7ff5de85fdae13af62c3b9a7d2679d50
    gen-code-templates-file = scan-c-lang-units-templates.xml

