
[scan]
    class=c.lang.units

    tasks = 1,2

[task "1"]

    scan-dir=platforms/esp32s3/mlgm-esp32-s3/test/cases/
    write-to-h-file=platforms/esp32s3/mlgm-esp32-s3/test/list-test-cases-1.h
    target-header-file-fingerprint = fffffffff
    gen-code-templates-file = scan-c-lang-units-templates.xml
    

[task "2"]

    scan-dir=platforms/esp32s3/mlgm-esp32-s3/main/units
    write-to-h-file=platforms/esp32s3/mlgm-esp32-s3/main/units/list-test-cases-2.h
    target-header-file-fingerprint = ffffaaaaa
    gen-code-templates-file = scan-c-lang-units-templates.xml

